.container-all {
    display: inline-flex;
    flex-direction: column;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

.container-aside {
    width: 24vw;
    margin-left: 1%;
}

.container-master-weather {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
    justify-content: space-evenly;
}

.current-weather-container {
    flex: 0 0 calc(100vw - 26vw);
}

#current-container-dynamic {
    border: 1px solid #E0E0E0;
}

#header-text {
    /*text-align: center;*/
    margin-top: 0px;
}