.container-all {
    display: inline-flex;
    flex-direction: column;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

.all-aside-container {
    display: inline-flex;
    flex-direction: column;
    flex-flow: column-wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container-aside {
    width: 24vw;
    margin-left: 1%;
}

.container-master-weather {
    /*
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
    justify-content: space-evenly;
    */
}

.all-weather-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    /*flex-flow: nowrap;*/
    justify-content: space-evenly;
}

.current-weather-container {
    width: 72vw;
    box-sizing: border-box;
    /*flex: 0 0 calc(100vw - 26vw);*/
}

.current-li {
    margin-bottom: 18px;
}

.current-li:last-child {
    margin-bottom: 6px;
}

.stored-search-btn {
    margin-bottom: 1rem;
    width: 12rem;
}

.warnings {
    color: #b80000;
}

.fiveday-container {
    /*width: 72vw;*/
    box-sizing: border-box;
    /*flex: 0 0 calc(100vw - 26vw);*/
    margin-top: 1rem;
}

.fiveday-card-container {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.fiveday-card {
    background-color: #90a4ae;
    color: white;
    flex: 0 0 100px;
}

#uvi-minimal {
    background-color: #4C9329;
    color: white;
    display: inline-block;
    width: 48px;
    text-align: center;
    border-radius: 3px;
}

#uvi-low {
    background-color: yellow;
    color: #000000;
    display: inline-block;
    width: 48px;
    text-align: center;
    border-radius: 3px;
}

#uvi-moderate {
    background-color: orange;
    color: white;
    display: inline-block;
    width: 48px;
    text-align: center;
    border-radius: 3px;
}

#uvi-high {
    background-color: red;
    color: white;
    display: inline-block;
    width: 48px;
    text-align: center;
    border-radius: 3px;
}

#uvi-very-high {
    background-color: purple;
    color: white;
    display: inline-block;
    width: 48px;
    text-align: center;
    border-radius: 3px;
}

#current-container-dynamic,
#fiveday-container-dynamic,
#fdc-card {
    border: 1px solid #E0E0E0;
}

#header-text {
    /*text-align: center;*/
    margin-top: 0px;
}

#fdc-card {
    padding: 1% 0 0 1%;
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
}

#date {
    font-weight: bolder;
}

#temp,
#windspeed,
#humidity {
    font-size: 10px;
    margin-bottom: 1rem;
}